@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --green-dark: #2c6871;
    --green-light: #8fffa8;
    --grey-light: #ededed;
    --grey-medium: #cbd2d8;
    --grey-dark: #b0bbc4;
    --white: #ffffff;
    --black: #000000;

    font-size: 62.5%;
}

body{
    display: flex;
    height: 100vh;
    background: var(--grey-medium);
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

